<html>
  <head>
    <title>To-Do It</title>
    <link rel="stylesheet" type='text/css' href="/stylesheet/style.css">
  </head>
  <body>
    <div>
      <h1>To-Do It</h1>
    </div>
    <div class="">
      <form action="/todo" method='post'>
    <input type="text" name='list_item'>
    <input type="submit">
  </form>

    </div>

  </body>
</html>
